
.review-container {
    max-width: 8000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .rating-container{
    color: rgb(255, 136, 0); 
    font-size: 20px;
  }
  .review {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  
  .review:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  
  .review-author {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .review-date {
    color: #888;
    font-size: 0.9em;
  }
  
  .review-content {
    color: #555;
    line-height: 1.6;
  }
  